<% unless @wedding.nil? %>
  <div class="image-container">
    <%= image_tag @wedding.image_url.to_s %>

    <div class="image-container-text">
      <h1 class="wedding-title"><%= @wedding.title + " " + t("wedding") %></h1>
      <p class="date-text"><%= t("we_will_marry") %> <%= l(@wedding.wedding_date, format: :long) %></p>
    </div>
  </div>
  <br style="clear:both;">
<% end %>

<ul class="page-menu">
  <% @pages.each do |page| %>
    <li class="page-link"><%= link_to page.page_title, page %></li>
  <% end %>
  <li class="page-link"><%= link_to t("wishlist"), wedding_gifts_path(@wedding.id) %></li>

  <% if current_user %>
    <li class="page-link"><%= link_to t("logout"), destroy_user_session_path, :method => :delete %></li>
  <% end %>
</ul>


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">


  </div>
</div>



<br style="clear:both"><br>